<a routerLink="/controle-cidades">VOLTAR</a>
<p></p>

<div class="row">
  <div class="col s12">
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="visitas">Cadastrar Visitas</button>
<p></p>

<!-- <a routerLink="usuarios">Cadastro de Usuarios (Observable da API com JSON Server)</a> -->
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="usuarios">Cadastrar Usuários </button>

<p></p>
<!-- <a routerLink="cidades">Cadastro de Cidades (Promise da API no localStorage)</a>-->
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="cidades">Cadastrar Cidades</button>
</div>
</div>
<!--Quando clica vai para o primeiro-componente -->
<!--
<a routerLink="primeiro">Primeiro componente</a>
<p></p>
Quando clica vai para o segundo-componente
<a routerLink="segundo">Segundo componente</a>
<p></p>
-->
