<a routerLink="/controle-cidades">VOLTAR</a>
<p></p>

<div class="container">

<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="visitas"><i class="material-icons my-icon-size">drive_eta</i>Cadastrar Visitas</button>
<p></p>

<!-- <a routerLink="usuarios">Cadastro de Usuarios (Observable da API com JSON Server)</a> -->
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="usuarios"><i class="material-icons my-icon-size">directions_run</i>Cadastrar Usuários</button>

<p></p>
<!-- <a routerLink="cidades">Cadastro de Cidades (Promise da API no localStorage)</a>-->
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="cidades"><i class="material-icons my-icon-size">location_on</i>Cadastrar Cidades</button>

<p></p>
<button type="button"
class="btn waves-effect waves-light cyan darken-2"
routerLink="localizarvisitas"><i class="material-icons my-icon-size">search</i>Localizar Visitas</button>
</div>

<!--Quando clica vai para o primeiro-componente -->
<!--
<a routerLink="primeiro">Primeiro componente</a>
<p></p>
Quando clica vai para o segundo-componente
<a routerLink="segundo">Segundo componente</a>
<p></p>
-->
