
<a routerLink="/controle-cidades">VOLTAR</a>


<!-- -->
<div class="container contact">

  <div class="col s12"> <!-- Mensagem de erro ou sucesso -->
    <div
      id="msg-login"
      class="card-panel yellow black-text"
      [class.yellow]="!this.sucesso"
      [class.blue]="this.sucesso"
      *ngIf="this.mostrarMensagem">
        {{ this.mensagem }}
    </div>
  </div>

  <h6>Localizar Visita:</h6>
  <p></p>
  <div class="row">

    <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-field col s12">
      <br/>
      <label>Usuário:</label>
      <br/>
      <select
      id="selectusuario"
      name="selectusuario"
      #selectusuario
      class="browser-default"
      (change)="aoSelecionarUsuario($event)"
      > <!-- 'browser-default' para habilitar o select-->
        <option value="" disabled selected>Selecione o Usuário*:</option>
        <option *ngFor="let u of this.usuarios" name="u.name">
          {{ u.name | uppercase }}
        </option>
      </select>
      <!--<label for="selectusuario">Usuário*</label>--> <!-- ve a tag name-->
      <div class="red-text" [hidden]="this.usuarioSelecionado!=null">
        -Usuário: selecionar o Usuário.
      </div>
    </div>

    <!--
    <div class="input-field col s12">
      <br/>
      <label>Selecione a Data de Inicio*:</label>
      <br/>
      <input type="text" class="datepicker" (change)="aoSelecionarDataInicio($event)">
      <div class="red-text" [hidden]="this.dataSelecionadaInicio!=null">
        -Data: selecionar a Data de Inicio.
      </div>
    </div>


    <div class="input-field col s12">
      <br/>
      <label>Selecione a Data de Fim*:</label>
      <br/>
      <input type="text" class="datepicker" (change)="aoSelecionarDataFim($event)">
      <div class="red-text" [hidden]="this.dataSelecionadaFim!=null">
        -Data: selecionar a Data de Fim.
      </div>
    </div>

    <!-- Le a variavel de template #form e habilita quando todos os campos sao validos -->
    <button
    type="submit"
    [disabled]="this.usuarioSelecionado==null"
  >
    Submeter
    <i class="material-icons right">send</i>
  </button>
  </form>

  <h5>Total de Visitas Localizadas [{{this.localizarvisitas.length}}]:</h5>
  <!-- Tabela de visitas -->
  <table *ngIf="this.localizarvisitas.length >= 1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Cidade</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of this.localizarvisitas">
        <td>{{u.id}}</td>
        <td>{{u.usuario | uppercase }}</td>
        <td>{{u.cidade | lowercase }}</td>
        <td>{{u.data | date:'dd/MM/yyyy' }}</td>
        <td class="right">
          <!-- TODO: Editar -->
          <!--
          <a
            ><i class="material-icons my-icon-size" (click)="onEditar(u)"
              >edit</i
            ></a
          >-->
          <a
            ><i
              class="material-icons my-icon-size"
              (click)="onRemover(u)"
              >delete</i
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
